<div style="text-align:right" class="editlink"> $designAttribute:story_edit_link $storyToolBar</div>
<link rel="stylesheet" type="text/css" media="screen" href="$public/remoteimages/website-images/2021_siteupdate/inspire2022/css/home_inspire_style.css">
<style>#hradbtmwrapper{display:none!important;}</style>
<div>$desc_long </div>
<script>
	$(document).ready(function() {
		$("#navMenuXS").on("click", function() {
			$("#navMenuList").slideToggle("fast");
		});
		
		$("#hradbtmwrapper").empty();
	});
</script>

$designAttribute:masterD_no_sidebar