<!-- @format -->

<div class="editlink">$designAttribute:story_edit_link $storyToolBar</div>
<link
  rel="stylesheet"
  type="text/css"
  media="screen"
  href="$public/remoteimages/website-images/2023_siteupdate/HR-west-2024/css/hr_west_style.css"
/>
<style>
  body > .ContentArea {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  body > .ContentArea > .container {
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
    max-width: 100%;
  }
  #hradbtmwrapper {
    display: none !important;
  }

  .logo-box {
    background: none !important;
  }
r
  div.ev_marquee > a.logo-box {
    background: none !important;
  }
</style>
<div>$vendorLeadForm</div>
<!--------sticky menu------->
<header class="header" id="header">
  <nav class="nave in-container">
    <div class="nave__data">
      <a
        href="/en/webcasts_events/live_events/hrwest/hrwest-hr-conference_laapwgci.html"
        class="nave__logo"
      >
        HRWest 2025
      </a>
      <div class="separator"></div>
      <div class="nave__toggle" id="nave-toggle">
        <svg
          class="nave__burger"
          width="25px"
          height="25px"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M4 18L20 18"
            stroke="#2a343e"
            stroke-width="2"
            stroke-linecap="round"
          />
          <path
            d="M4 12L20 12"
            stroke="#2a343e"
            stroke-width="2"
            stroke-linecap="round"
          />
          <path
            d="M4 6L20 6"
            stroke="#2a343e"
            stroke-width="2"
            stroke-linecap="round"
          />
        </svg>
        <svg
          class="nave__close"
          width="25px"
          height="25px"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g>
            <path
              d="M18 18L12 12M12 12L6 6M12 12L18 6M12 12L6 18"
              stroke="#2a343e"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </g>
        </svg>
      </div>
    </div>
    <!--=============== NAV MENU ===============-->
    <div class="nave__menu" id="nave-menu">
      <ul class="nave__list">
        <li class="dropdown__item">
          <div class="nave__link">
            Program
            <svg
              class="dropdown__arrow"
              fill="#2a343e"
              width="10px"
              height="10px"
              version="1.1"
              id="Capa_1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              viewBox="0 0 30.021 30.021"
              xml:space="preserve"
            >
              <g>
                <path
                  d="M28.611,13.385l-11.011,9.352c-0.745,0.633-1.667,0.949-2.589,0.949c-0.921,0-1.842-0.316-2.589-0.949L1.411,13.385
      c-1.684-1.43-1.89-3.954-0.46-5.638c1.431-1.684,3.955-1.89,5.639-0.459l8.421,7.151l8.42-7.151
      c1.686-1.43,4.209-1.224,5.639,0.459C30.5,9.431,30.294,11.955,28.611,13.385z"
                />
              </g>
            </svg>
          </div>
          <ul class="dropdown__menu">
            <li>
              <a
                href="/en/webcasts_events/live_events/hrwest/hrwest-conference-speakers---hrcom_laaqsa2l.html"
                class="dropdown__link"
              >
                2025 Speakers
              </a>
            </li>
            <li>
              <a
                href="/en/webcasts_events/live_events/hrwest/hrwest-2025-agenda-listing_m4h79bdy.html"
                class="dropdown__link"
              >
                2025 Agenda
              </a>
            </li>
            <li>
              <a
                href="/en/webcasts_events/live_events/hrwest/hrwest-sponsors_lyfn7g9y.html"
                class="dropdown__link"
              >
                Sponsors
              </a>
            </li>
            <li>
              <a
                href="/en/webcasts_events/live_events/hrwest/hr-awards_m1829lxd.html"
                class="dropdown__link"
              >
                HR.com Awards
              </a>
            </li>
            <li>
              <a
                href="/en/webcasts_events/live_events/hrwest/futurehr-the-ultimate-startup-showdown_ln398wxu.html"
                class="dropdown__link"
              >
                FutureHR: The Ultimate Startup Showdown
              </a>
            </li>
            <!-- <li>
              <a
                href="/en/webcasts_events/live_events/hrwest/the-hrcom-awards_lne1ek46.html"
                class="dropdown__link"
              >
                The HR.com Awards
              </a>
            </li> -->
          </ul>
        </li>
        <li class="dropdown__item">
          <div class="nave__link">
            Attend
            <svg
              class="dropdown__arrow"
              fill="#2a343e"
              width="10px"
              height="10px"
              version="1.1"
              id="Capa_1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              viewBox="0 0 30.021 30.021"
              xml:space="preserve"
            >
              <g>
                <path
                  d="M28.611,13.385l-11.011,9.352c-0.745,0.633-1.667,0.949-2.589,0.949c-0.921,0-1.842-0.316-2.589-0.949L1.411,13.385
      c-1.684-1.43-1.89-3.954-0.46-5.638c1.431-1.684,3.955-1.89,5.639-0.459l8.421,7.151l8.42-7.151
      c1.686-1.43,4.209-1.224,5.639,0.459C30.5,9.431,30.294,11.955,28.611,13.385z"
                />
              </g>
            </svg>
          </div>
          <ul class="dropdown__menu">
            <li>
              <a
                href="/en/webcasts_events/live_events/hrwest/attend-hrwest-as-a-team_laaqzi6t.html"
                class="dropdown__link"
              >
                Attend as Team
              </a>
            </li>
            <li>
              <a
                href="/en/webcasts_events/live_events/hrwest/hrwest-hr-conference-experiences_lmrcoc0x.html"
                class="dropdown__link"
              >
                Experiences
              </a>
            </li>
            <li>
              <a
                href="/en/webcasts_events/live_events/hrwest/volunteer-at-hrwest-for-free-pass_laaqw0y9.html"
                class="dropdown__link"
              >
                Volunteer
              </a>
            </li>
            <li>
              <a
                href="/en/webcasts_events/live_events/hrwest/hrwest-hr-conference-location_laar45d5.html"
                class="dropdown__link"
              >
                Location
              </a>
            </li>
            <li>
              <a
                href="/en/webcasts_events/live_events/hrwest/get-your-employer-to-send-you-to-hrwest_lk2vgc3h.html"
                class="dropdown__link"
              >
                Get Your Employer to Send You to HRWest
              </a>
            </li>
          </ul>
        </li>

        <!-- <li class="dropdown__item">
          <div class="nave__link">
            2023 Program
            <svg
              class="dropdown__arrow"
              fill="#2a343e"
              width="10px"
              height="10px"
              version="1.1"
              id="Capa_1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              viewBox="0 0 30.021 30.021"
              xml:space="preserve"
            >
              <g>
                <path
                  d="M28.611,13.385l-11.011,9.352c-0.745,0.633-1.667,0.949-2.589,0.949c-0.921,0-1.842-0.316-2.589-0.949L1.411,13.385
      c-1.684-1.43-1.89-3.954-0.46-5.638c1.431-1.684,3.955-1.89,5.639-0.459l8.421,7.151l8.42-7.151
      c1.686-1.43,4.209-1.224,5.639,0.459C30.5,9.431,30.294,11.955,28.611,13.385z"
                />
              </g>
            </svg>
          </div>
          <ul class="dropdown__menu">
            <li>
              <a
                href="/en/webcasts_events/live_events/2023-speakers_ljco3fo1.html"
                class="dropdown__link"
              >
                2023 Speakers
              </a>
            </li>
            <li>
              <a
                href="/en/webcasts_events/live_events/agenda-2023_ljz8l2gh.html"
                class="dropdown__link"
              >
                2023 Agenda
              </a>
            </li>
          </ul>
        </li> -->
        <li>
          <a
            href="/en/webcasts_events/live_events/hrwest/sponsor-hrwest_laar1r7a.html"
            class="nave__link"
            >Why Sponsor/Exhibit</a
          >
        </li>
        <li>
          <a
            href="/en/webcasts_events/live_events/hrwest/hrwest-testimonials_lyd2mwd1.html"
            class="nave__link"
            >Testimonials</a
          >
        </li>
        <!-- <li>
          <a href="#" class="nave__link">FAQ</a>
        </li>-->
        <li class="reg-btn">
          <a
            href="/en/webcasts_events/live_events/hr-west-2025-registration_lt8ybqxq.html"
            class="hr_custom_btn gradient_btn btn_large round"
            >Register Now</a
          >
        </li>
      </ul>
    </div>
  </nav>
</header>
<div class="hr-west_container">
  <div class="hr-west-head-info">
    <ul>
      <li>Mar 11-12, 2025</li>
      <li>Oakland Marriott City Center, Oakland, CA</li>
    </ul>
    <h5>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="34.286"
        height="24"
        viewBox="0 0 34.286 24"
      >
        <path
          d="M5.143,12.536A3.429,3.429,0,1,0,1.714,9.107,3.432,3.432,0,0,0,5.143,12.536Zm24,0a3.429,3.429,0,1,0-3.429-3.429A3.432,3.432,0,0,0,29.143,12.536Zm1.714,1.714H27.429a3.418,3.418,0,0,0-2.416,1,7.836,7.836,0,0,1,4.023,5.861h3.536a1.712,1.712,0,0,0,1.714-1.714V17.679A3.432,3.432,0,0,0,30.857,14.25Zm-13.714,0a6,6,0,1,0-6-6A6,6,0,0,0,17.143,14.25Zm4.114,1.714h-.445a8.284,8.284,0,0,1-7.339,0h-.445a6.173,6.173,0,0,0-6.171,6.171v1.543A2.572,2.572,0,0,0,9.429,26.25H24.857a2.572,2.572,0,0,0,2.571-2.571V22.136A6.173,6.173,0,0,0,21.257,15.964ZM9.273,15.246a3.418,3.418,0,0,0-2.416-1H3.429A3.432,3.432,0,0,0,0,17.679v1.714a1.712,1.712,0,0,0,1.714,1.714h3.53A7.856,7.856,0,0,1,9.273,15.246Z"
          transform="translate(0 -2.25)"
          fill="#91278C"
        ></path>
      </svg>
      <a
        href="/en/webcasts_events/live_events/hrwest/attend-as-team_laaqzi6t.html"
        >Bring Your Team</a
      >
    </h5>
  </div>
</div>

<!--Landing page banner start -->

<div>$desc_long</div>

<div class="hr-west_container-fluid">
  <div class="ev_logoMarqueeSection">
    <h3>HRWest 2025 Conference Sponsors</h3>
    <div id="evlogoMarqueeSection">
      <div class="ev_content_container">
        <div class="ev_marquee_wrapper">
          <div class="ev_marquee" style="animation-duration: 60s">
            <a
              class="logo-box"
              href="https://www.hr.com/directory/company/akwentis_llc"
              target="_blank"
              data-feathr-click-track="true"
              data-feathr-link-aids='["6127cfab0dc20e810ab012ed"]'
              ><img
                alt="HRWest HR Conference Sponsor Akwentis LLC Logo"
                src="https://hrcom-public.s3.wasabisys.com/remoteimages/website-images/2023_siteupdate/HR-west-2024/images/sponsor-logos/HR-West-HR-Conference-Sponsor-akwentis-logo-80x200.jpg"
                style="max-height: 80px; max-width: 200px"
            /></a>

            <a
              class="logo-box"
              href="https://www.hr.com/directory/company/candoriq_1"
              target="_blank"
              data-feathr-click-track="true"
              data-feathr-link-aids='["6127cfab0dc20e810ab012ed"]'
              ><img
                alt="HRWest HR Conference Sponsor CandorIQ Logo"
                src="https://hrcom-public.s3.wasabisys.com/remoteimages/website-images/2023_siteupdate/HR-west-2024/images/sponsor-logos/HR-West-HR-Conference-Sponsor-candoriq-logo-80x200.jpg"
                style="max-height: 80px; max-width: 200px"
            /></a>

            <a
              class="logo-box"
              href="https://www.hr.com/directory/company/teamtailor"
              target="_blank"
              data-feathr-click-track="true"
              data-feathr-link-aids='["6127cfab0dc20e810ab012ed"]'
              ><img
                alt="HRWest HR Conference Sponsor Teamtailor Logo"
                src="https://hrcom-public.s3.wasabisys.com/remoteimages/website-images/2023_siteupdate/HR-west-2024/images/sponsor-logos/HR-West-HR-Conference-Sponsor-teamtailor-logo-80x200.jpg"
                style="max-height: 80px; max-width: 200px"
            /></a>

            <a
              class="logo-box"
              href="https://www.hr.com/directory/company/wave_life_inc_"
              target="_blank"
              data-feathr-click-track="true"
              data-feathr-link-aids='["6127cfab0dc20e810ab012ed"]'
              ><img
                alt="HRWest HR Conference Sponsor Wave Life Inc. Logo"
                src="https://hrcom-public.s3.wasabisys.com/remoteimages/website-images/2023_siteupdate/HR-west-2024/images/sponsor-logos/HR-West-HR-Conference-Sponsor-wave-logo-80x200.jpg"
                style="max-height: 80px; max-width: 200px"
            /></a>

            <a
              class="logo-box"
              href="https://www.hr.com/directory/company/vm_mastered_llc"
              target="_blank"
              data-feathr-click-track="true"
              data-feathr-link-aids='["6127cfab0dc20e810ab012ed"]'
              ><img
                alt="HRWest HR Conference Sponsor VM Mastered LLC Logo"
                src="https://hrcom-public.s3.wasabisys.com/remoteimages/website-images/2023_siteupdate/HR-west-2024/images/sponsor-logos/HR-West-HR-Conference-Sponsor-vm-mastered-logo-80x200.jpg"
                style="max-height: 80px; max-width: 200px"
            /></a>

            <a
              class="logo-box"
              href="https://www.hr.com/directory/company/rxbenefits"
              target="_blank"
              data-feathr-click-track="true"
              data-feathr-link-aids='["6127cfab0dc20e810ab012ed"]'
              ><img
                alt="HRWest HR Conference Sponsor RXBenefits Logo"
                src="https://hrcom-public.s3.wasabisys.com/remoteimages/website-images/2023_siteupdate/HR-west-2024/images/sponsor-logos/HR-West-HR-Conference-Sponsor-rxbenefits-logo-80x200.jpg"
                style="max-height: 80px; max-width: 200px"
            /></a>

            <a
              class="logo-box"
              href="https://www.hr.com/directory/company/robert_half_intl_inc"
              target="_blank"
              data-feathr-click-track="true"
              data-feathr-link-aids='["6127cfab0dc20e810ab012ed"]'
              ><img
                alt="HRWest HR Conference Sponsor Robert Half Talent Solutions Logo"
                src="https://hrcom-public.s3.wasabisys.com/remoteimages/website-images/2023_siteupdate/HR-west-2024/images/sponsor-logos/HR-West-HR-Conference-Sponsor-robert-half-logo-80x200.jpg"
                style="max-height: 80px; max-width: 200px"
            /></a>

            <a
              class="logo-box"
              href="https://www.hr.com/directory/company/hr_performance_solutions"
              target="_blank"
              data-feathr-click-track="true"
              data-feathr-link-aids='["6127cfab0dc20e810ab012ed"]'
              ><img
                alt="HRWest HR Conference Sponsor HR Performance Solutions Logo"
                src="https://hrcom-public.s3.wasabisys.com/remoteimages/website-images/2023_siteupdate/HR-west-2024/images/sponsor-logos/HR-West-HR-Conference-Sponsor-hr-performance-logo-80x200.jpg"
                style="max-height: 80px; max-width: 200px"
            /></a>

            <a
              class="logo-box"
              href="https://www.hr.com/directory/company/pacific_service_credit_union_2"
              target="_blank"
              data-feathr-click-track="true"
              data-feathr-link-aids='["6127cfab0dc20e810ab012ed"]'
              ><img
                alt="HRWest HR Conference Sponsor Pacific Service Credit Union Logo"
                src="https://hrcom-public.s3.wasabisys.com/remoteimages/website-images/2023_siteupdate/HR-west-2024/images/sponsor-logos/HR-West-HR-Conference-Sponsor-pacific-service-credit-union-logo-80x200.jpg"
                style="max-height: 80px; max-width: 200px"
            /></a>

            <a
              class="logo-box"
              href="https://www.hr.com/directory/company/hrcp_1"
              target="_blank"
              data-feathr-click-track="true"
              data-feathr-link-aids='["6127cfab0dc20e810ab012ed"]'
              ><img
                alt="HRWest HR Conference Sponsor HRCP Logo"
                src="https://hrcom-public.s3.wasabisys.com/remoteimages/website-images/2023_siteupdate/HR-west-2024/images/sponsor-logos/HR-West-HR-Conference-Sponsor-hrcp-logo-80x200.jpg"
                style="max-height: 80px; max-width: 200px"
            /></a>

            <a
              class="logo-box"
              href="https://www.hr.com/directory/company/express_evaluations_1"
              target="_blank"
              data-feathr-click-track="true"
              data-feathr-link-aids='["6127cfab0dc20e810ab012ed"]'
              ><img
                alt="HRWest HR Conference Sponsor Express Evaluations Logo"
                src="https://hrcom-public.s3.wasabisys.com/remoteimages/website-images/2023_siteupdate/HR-west-2024/images/sponsor-logos/HR-West-HR-Conference-Sponsor-express-evaluations-logo-80x200.jpg"
                style="max-height: 80px; max-width: 200px"
            /></a>

            <a
              class="logo-box"
              href="https://www.hr.com/directory/company/corporate_traditions"
              target="_blank"
              data-feathr-click-track="true"
              data-feathr-link-aids='["6127cfab0dc20e810ab012ed"]'
              ><img
                alt="HRWest HR Conference Sponsor Corporate Traditions Logo"
                src="https://hrcom-public.s3.wasabisys.com/remoteimages/website-images/2023_siteupdate/HR-west-2024/images/sponsor-logos/HR-West-HR-Conference-Sponsor-corporate-traditions-logo-80x200.jpg"
                style="max-height: 80px; max-width: 200px"
            /></a>

            <a
              class="logo-box"
              href="https://www.hr.com/directory/company/bay_area_commuter_benefits_program_1"
              target="_blank"
              data-feathr-click-track="true"
              data-feathr-link-aids='["6127cfab0dc20e810ab012ed"]'
              ><img
                alt="HRWest HR Conference Sponsor Bay Area Commuter Benefits Program Logo"
                src="https://hrcom-public.s3.wasabisys.com/remoteimages/website-images/2023_siteupdate/HR-west-2024/images/sponsor-logos/HR-West-HR-Conference-Sponsor-bay-area-commuter-benefits-logo-80x200.jpg"
                style="max-height: 80px; max-width: 200px"
            /></a>

            <a
              class="logo-box"
              href="https://www.hr.com/directory/company/tremendous"
              target="_blank"
              data-feathr-click-track="true"
              data-feathr-link-aids='["6127cfab0dc20e810ab012ed"]'
              ><img
                alt="HRWest HR Conference Sponsor Tremendous Logo"
                src="https://hrcom-public.s3.wasabisys.com/remoteimages/website-images/2023_siteupdate/HR-west-2024/images/sponsor-logos/hr-west-hr-conference-sponsor-tremendous-logo-80x200.jpg"
                style="max-height: 80px; max-width: 200px"
            /></a>

            <a
              class="logo-box"
              href="https://www.hr.com/directory/company/printfection_1"
              target="_blank"
              data-feathr-click-track="true"
              data-feathr-link-aids='["6127cfab0dc20e810ab012ed"]'
              ><img
                alt="HRWest HR Conference Sponsor Printfection Logo"
                src="https://hrcom-public.s3.wasabisys.com/remoteimages/website-images/2023_siteupdate/HR-west-2024/images/sponsor-logos/hr-west-hr-conference-sponsor-printfection-logo-80x200.jpg"
                style="max-height: 80px; max-width: 200px"
            /></a>

            <a
              class="logo-box"
              href="https://www.hr.com/directory/company/insperity_28"
              target="_blank"
              data-feathr-click-track="true"
              data-feathr-link-aids='["6127cfab0dc20e810ab012ed"]'
              ><img
                alt="HRWest HR Conference Sponsor Insperity Logo"
                src="https://hrcom-public.s3.wasabisys.com/remoteimages/website-images/2023_siteupdate/HR-west-2024/images/sponsor-logos/hr-west-hr-conference-sponsor-insperity-logo-80x200.jpg"
                style="max-height: 80px; max-width: 200px"
            /></a>

            <a
              class="logo-box"
              href="https://www.hr.com/directory/company/onespan_1"
              target="_blank"
              data-feathr-click-track="true"
              data-feathr-link-aids='["6127cfab0dc20e810ab012ed"]'
              ><img
                alt="HRWest HR Conference Sponsor OneSpan Logo"
                src="https://hrcom-public.s3.wasabisys.com/remoteimages/website-images/2023_siteupdate/HR-west-2024/images/sponsor-logos/hr-west-hr-conference-sponsor-onespan2-logo-80x200.jpg"
                style="max-height: 80px; max-width: 200px"
            /></a>

            <a
              class="logo-box"
              href="https://www.hr.com/directory/company/the_center_for_respectful_leadership"
              target="_blank"
              data-feathr-click-track="true"
              data-feathr-link-aids='["6127cfab0dc20e810ab012ed"]'
              ><img
                alt="HRWest HR Conference Sponsor The Center for Respectful Leadership Logo"
                src="https://hrcom-public.s3.wasabisys.com/remoteimages/website-images/2023_siteupdate/HR-west-2024/images/sponsor-logos/hr-west-hr-conference-sponsor-crl-logo-80x200.jpg"
                style="max-height: 80px; max-width: 200px"
            /></a>

<a
class="logo-box"
href="https://www.hr.com/directory/company/nava_benefits"
target="_blank"
data-feathr-click-track="true"
data-feathr-link-aids='["6127cfab0dc20e810ab012ed"]'
><img
  alt="HRWest HR Conference Sponsor Nava Benefits Logo"
  src="https://hrcom-public.s3.wasabisys.com/remoteimages/website-images/2023_siteupdate/HR-west-2024/images/sponsor-logos/hr-west-hr-conference-sponsor-nava-logo-80x200.jpg"
  style="max-height: 80px; max-width: 200px"
/></a>

<a
class="logo-box"
href="https://www.hr.com/directory/company/tango_card"
target="_blank"
data-feathr-click-track="true"
data-feathr-link-aids='["6127cfab0dc20e810ab012ed"]'
><img
  alt="HRWest HR Conference Sponsor Tango Logo"
  src="https://hrcom-public.s3.wasabisys.com/remoteimages/website-images/2023_siteupdate/HR-west-2024/images/sponsor-logos/hr-west-hr-conference-sponsor-tango-logo-80x200.jpg"
  style="max-height: 80px; max-width: 200px"
/></a>

<a
class="logo-box"
href="https://www.hr.com/directory/company/cypress_resilience_project"
target="_blank"
data-feathr-click-track="true"
data-feathr-link-aids='["6127cfab0dc20e810ab012ed"]'
><img
  alt="HRWest HR Conference Sponsor Cypress Resilience Project Logo"
  src="https://hrcom-public.s3.wasabisys.com/remoteimages/website-images/2023_siteupdate/HR-west-2024/images/sponsor-logos/hr-west-hr-conference-sponsor-cypress-resilience-project-logo-80x200.jpg"
  style="max-height: 80px; max-width: 200px"
/></a>

<a
class="logo-box"
href="https://www.hr.com/directory/company/ukg_ultimate_kronos_group__2"
target="_blank"
data-feathr-click-track="true"
data-feathr-link-aids='["6127cfab0dc20e810ab012ed"]'
><img
  alt="HRWest HR Conference Sponsor UKG Logo"
  src="https://hrcom-public.s3.wasabisys.com/remoteimages/website-images/2023_siteupdate/HR-west-2024/images/sponsor-logos/hr-west-hr-conference-sponsor-ukg-logo-80x200.jpg"
  style="max-height: 80px; max-width: 200px"
/></a>

<a
class="logo-box"
href="https://www.hr.com/directory/company/orgchart"
target="_blank"
data-feathr-click-track="true"
data-feathr-link-aids='["6127cfab0dc20e810ab012ed"]'
><img
  alt="HRWest HR Conference Sponsor OrgChart Logo"
  src="https://hrcom-public.s3.wasabisys.com/remoteimages/website-images/2023_siteupdate/HR-west-2024/images/sponsor-logos/hr-west-hr-conference-sponsor-orgchart-logo-80x200.jpg"
  style="max-height: 80px; max-width: 200px"
/></a>

<a
class="logo-box"
href="https://www.hr.com/directory/company/united_concordia_dental"
target="_blank"
data-feathr-click-track="true"
data-feathr-link-aids='["6127cfab0dc20e810ab012ed"]'
><img
  alt="HRWest HR Conference Sponsor United Concordia Dental Logo"
  src="https://hrcom-public.s3.wasabisys.com/remoteimages/website-images/2023_siteupdate/HR-west-2024/images/sponsor-logos/hr-west-hr-conference-sponsor-united-concordia-dental-logo-80x200.jpg"
  style="max-height: 80px; max-width: 200px"
/></a>

<a
class="logo-box"
href="https://www.hr.com/directory/company/smartdollar__ramsey_solutions"
target="_blank"
data-feathr-click-track="true"
data-feathr-link-aids='["6127cfab0dc20e810ab012ed"]'
><img
  alt="HRWest HR Conference Sponsor Ramsey SmartDollar Solutions Logo"
  src="https://hrcom-public.s3.wasabisys.com/remoteimages/website-images/2023_siteupdate/HR-west-2024/images/sponsor-logos/hr-west-hr-conference-sponsor-ramsey-smartdollar-logo-80x200.jpg"
  style="max-height: 80px; max-width: 200px"
/></a>

<a
class="logo-box"
href="https://www.hr.com/directory/company/scalis"
target="_blank"
data-feathr-click-track="true"
data-feathr-link-aids='["6127cfab0dc20e810ab012ed"]'
><img
  alt="HRWest HR Conference Sponsor Scalis Logo"
  src="https://hrcom-public.s3.wasabisys.com/remoteimages/website-images/2023_siteupdate/HR-west-2024/images/sponsor-logos/hr-west-hr-conference-sponsor-scalis-logo-80x200.jpg"
  style="max-height: 80px; max-width: 200px"
/></a>

<a
class="logo-box"
href="https://www.hr.com/directory/company/human_capital_management_institute(hcmi)"
target="_blank"
data-feathr-click-track="true"
data-feathr-link-aids='["6127cfab0dc20e810ab012ed"]'
><img
  alt="HRWest HR Conference Sponsor LYTIQS Logo"
  src="https://hrcom-public.s3.wasabisys.com/remoteimages/website-images/2023_siteupdate/HR-west-2024/images/sponsor-logos/hr-west-hr-conference-sponsor-lytiqs-logo-80x200.jpg"
  style="max-height: 80px; max-width: 200px"
/></a>

<a
class="logo-box"
href="https://www.hr.com/directory/company/inspira_financial__1"
target="_blank"
data-feathr-click-track="true"
data-feathr-link-aids='["6127cfab0dc20e810ab012ed"]'
><img
  alt="HRWest HR Conference Sponsor Inspira Financial Logo"
  src="https://hrcom-public.s3.wasabisys.com/remoteimages/website-images/2023_siteupdate/HR-west-2024/images/sponsor-logos/hr-west-hr-conference-sponsor-inspira-financial-logo-80x200.jpg"
  style="max-height: 80px; max-width: 200px"
/></a>

<a
class="logo-box"
href="https://www.hr.com/directory/company/sparrow"
target="_blank"
data-feathr-click-track="true"
data-feathr-link-aids='["6127cfab0dc20e810ab012ed"]'
><img
  alt="HRWest HR Conference Sponsor Sparrow Logo"
  src="https://hrcom-public.s3.wasabisys.com/remoteimages/website-images/2023_siteupdate/HR-west-2024/images/sponsor-logos/hr-west-hr-conference-sponsor-sparrow-logo-80x200.jpg"
  style="max-height: 80px; max-width: 200px"
/></a>

<a
class="logo-box"
href="https://www.hr.com/directory/company/rocket_station_1"
target="_blank"
data-feathr-click-track="true"
data-feathr-link-aids='["6127cfab0dc20e810ab012ed"]'
><img
  alt="HRWest HR Conference Sponsor Rocket Station Logo"
  src="https://hrcom-public.s3.wasabisys.com/remoteimages/website-images/2023_siteupdate/HR-west-2024/images/sponsor-logos/hr-west-hr-conference-sponsor-rocket-station-logo-80x200.jpg"
  style="max-height: 80px; max-width: 200px"
/></a>

<a
class="logo-box"
href="https://www.hr.com/directory/company/spot_pet_insurance"
target="_blank"
data-feathr-click-track="true"
data-feathr-link-aids='["6127cfab0dc20e810ab012ed"]'
><img
  alt="HRWest HR Conference Sponsor Spot Pet Insurance Logo"
  src="https://hrcom-public.s3.wasabisys.com/remoteimages/website-images/2023_siteupdate/HR-west-2024/images/sponsor-logos/hr-west-hr-conference-sponsor-spot-pet-insurance-logo-80x200.jpg"
  style="max-height: 80px; max-width: 200px"
/></a>

<a
class="logo-box"
href="https://www.hr.com/directory/company/commune"
target="_blank"
data-feathr-click-track="true"
data-feathr-link-aids='["6127cfab0dc20e810ab012ed"]'
><img
  alt="HRWest HR Conference Sponsor Commune Inc. Logo"
  src="https://hrcom-public.s3.wasabisys.com/remoteimages/website-images/2023_siteupdate/HR-west-2024/images/sponsor-logos/hr-west-hr-conference-sponsor-commune-logo-80x200.jpg"
  style="max-height: 80px; max-width: 200px"
/></a>

<a
class="logo-box"
href="https://www.hr.com/directory/company/crop_organization"
target="_blank"
data-feathr-click-track="true"
data-feathr-link-aids='["6127cfab0dc20e810ab012ed"]'
><img
  alt="HRWest HR Conference Sponsor CROP Organization Logo"
  src="https://hrcom-public.s3.wasabisys.com/remoteimages/website-images/2023_siteupdate/HR-west-2024/images/sponsor-logos/hr-west-hr-conference-sponsor-crop-organization-logo-80x200.jpg"
  style="max-height: 80px; max-width: 200px"
/></a>

<a
class="logo-box"
href="https://www.hr.com/directory/company/simpliverified_1"
target="_blank"
data-feathr-click-track="true"
data-feathr-link-aids='["6127cfab0dc20e810ab012ed"]'
><img
  alt="HRWest HR Conference Sponsor SimpliVerified Logo"
  src="https://hrcom-public.s3.wasabisys.com/remoteimages/website-images/2023_siteupdate/HR-west-2024/images/sponsor-logos/hr-west-hr-conference-sponsor-simpli-verified-logo-80x200.jpg"
  style="max-height: 80px; max-width: 200px"
/></a>

<a
class="logo-box"
href="https://www.hr.com/directory/company/brown__brown_2"
target="_blank"
data-feathr-click-track="true"
data-feathr-link-aids='["6127cfab0dc20e810ab012ed"]'
><img
  alt="HRWest HR Conference Sponsor Brown & Brown Logo"
  src="https://hrcom-public.s3.wasabisys.com/remoteimages/website-images/2023_siteupdate/HR-west-2024/images/sponsor-logos/hr-west-hr-conference-sponsor-brown-and-brown-logo-80x200.jpg"
  style="max-height: 80px; max-width: 200px"
/></a>

<a
class="logo-box"
href="https://www.hr.com/directory/company/genomic_life"
target="_blank"
data-feathr-click-track="true"
data-feathr-link-aids='["6127cfab0dc20e810ab012ed"]'
><img
  alt="HRWest HR Conference Sponsor Genomic Life Logo"
  src="https://hrcom-public.s3.wasabisys.com/remoteimages/website-images/2023_siteupdate/HR-west-2024/images/sponsor-logos/hr-west-hr-conference-sponsor-genomic-life-logo-80x200.jpg"
  style="max-height: 80px; max-width: 200px"
/></a>

<a
class="logo-box"
href="https://www.hr.com/directory/company/ridepanda_1"
target="_blank"
data-feathr-click-track="true"
data-feathr-link-aids='["6127cfab0dc20e810ab012ed"]'
><img
  alt="HRWest HR Conference Sponsor Ridepanda Logo"
  src="https://hrcom-public.s3.wasabisys.com/remoteimages/website-images/2023_siteupdate/HR-west-2024/images/sponsor-logos/hr-west-hr-conference-sponsor-ridepanda-logo-80x200.jpg"
  style="max-height: 80px; max-width: 200px"
/></a>

<a
class="logo-box"
href="https://www.hr.com/directory/company/onedigital_4"
target="_blank"
data-feathr-click-track="true"
data-feathr-link-aids='["6127cfab0dc20e810ab012ed"]'
><img
  alt="HRWest HR Conference Sponsor OneDigital Logo"
  src="https://hrcom-public.s3.wasabisys.com/remoteimages/website-images/2023_siteupdate/HR-west-2024/images/sponsor-logos/hr-west-hr-conference-sponsor-onedigital-logo-80x200.jpg"
  style="max-height: 80px; max-width: 200px"
/></a>

<a
class="logo-box"
href="https://www.hr.com/directory/company/hire_inc"
target="_blank"
data-feathr-click-track="true"
data-feathr-link-aids='["6127cfab0dc20e810ab012ed"]'
><img
  alt="HRWest HR Conference Sponsor Hire.Inc Logo"
  src="https://hrcom-public.s3.wasabisys.com/remoteimages/website-images/2023_siteupdate/HR-west-2024/images/sponsor-logos/hr-west-hr-conference-sponsor-hireinc-logo-80x200.jpg"
  style="max-height: 80px; max-width: 200px"
/></a>

<a
class="logo-box"
href="https://www.hr.com/directory/company/uscis_e_verify"
target="_blank"
data-feathr-click-track="true"
data-feathr-link-aids='["6127cfab0dc20e810ab012ed"]'
><img
  alt="HRWest HR Conference Sponsor USCIS E-Verify Logo"
  src="https://hrcom-public.s3.wasabisys.com/remoteimages/website-images/2023_siteupdate/HR-west-2024/images/sponsor-logos/hr-west-hr-conference-sponsor-uscis-e-verify-logo-80x200.jpg"
  style="max-height: 80px; max-width: 200px"
/></a>

<a
class="logo-box"
href="https://www.hr.com/directory/company/iron_mountain_incorporated_1"
target="_blank"
data-feathr-click-track="true"
data-feathr-link-aids='["6127cfab0dc20e810ab012ed"]'
><img
  alt="HRWest HR Conference Sponsor Iron Mountain Logo"
  src="https://hrcom-public.s3.wasabisys.com/remoteimages/website-images/2023_siteupdate/HR-west-2024/images/sponsor-logos/hr-west-hr-conference-sponsor-iron-mountain-logo-80x200.jpg"
  style="max-height: 80px; max-width: 200px"
/></a>

<a
class="logo-box"
href="https://www.hr.com/directory/company/webox"
target="_blank"
data-feathr-click-track="true"
data-feathr-link-aids='["6127cfab0dc20e810ab012ed"]'
><img
  alt="HRWest HR Conference Sponsor WeBox Logo"
  src="https://hrcom-public.s3.wasabisys.com/remoteimages/website-images/2023_siteupdate/HR-west-2024/images/sponsor-logos/hr-west-hr-conference-sponsor-webox-logo-80x200.jpg"
  style="max-height: 80px; max-width: 200px"
/></a>

<a
class="logo-box"
href="https://www.hr.com/directory/company/workbright_1"
target="_blank"
data-feathr-click-track="true"
data-feathr-link-aids='["6127cfab0dc20e810ab012ed"]'
><img
  alt="HRWest HR Conference Sponsor WorkBright Logo"
  src="https://hrcom-public.s3.wasabisys.com/remoteimages/website-images/2023_siteupdate/HR-west-2024/images/sponsor-logos/hr-west-hr-conference-sponsor-workbright-logo-80x200.jpg"
  style="max-height: 80px; max-width: 200px"
/></a>

<a
class="logo-box"
href="https://www.hr.com/directory/company/the_fruitguys"
target="_blank"
data-feathr-click-track="true"
data-feathr-link-aids='["6127cfab0dc20e810ab012ed"]'
><img
  alt="HRWest HR Conference Sponsor The FruitGuys Logo"
  src="https://hrcom-public.s3.wasabisys.com/remoteimages/website-images/2023_siteupdate/HR-west-2024/images/sponsor-logos/hr-west-hr-conference-sponsor-the-fruitguys-logo-80x200.jpg"
  style="max-height: 80px; max-width: 200px"
/></a>

<a
class="logo-box"
href="https://www.hr.com/directory/company/clg_hr_consulting_1"
target="_blank"
data-feathr-click-track="true"
data-feathr-link-aids='["6127cfab0dc20e810ab012ed"]'
><img
  alt="HRWest HR Conference Sponsor CLG HR Consulting Logo"
  src="https://hrcom-public.s3.wasabisys.com/remoteimages/website-images/2023_siteupdate/HR-west-2024/images/sponsor-logos/hr-west-hr-conference-sponsor-clg-hr-consulting-logo-80x200.jpg"
  style="max-height: 80px; max-width: 200px"
/></a>

<a
class="logo-box"
href="https://www.hr.com/directory/company/remofirst"
target="_blank"
data-feathr-click-track="true"
data-feathr-link-aids='["6127cfab0dc20e810ab012ed"]'
><img
  alt="HRWest HR Conference Sponsor RemoFirst Logo"
  src="https://hrcom-public.s3.wasabisys.com/remoteimages/website-images/2023_siteupdate/HR-west-2024/images/sponsor-logos/hr-west-hr-conference-sponsor-remofirst-logo-80x200.jpg"
  style="max-height: 80px; max-width: 200px"
/></a>

<a class="logo-box" 
href="https://www.hr.com/directory/company/akrivia_hcm" target="_blank"
data-feathr-click-track="true" data-feathr-link-aids='["6127cfab0dc20e810ab012ed"]'
><img 
alt="HRWest HR Conference Sponsor Akrivia HCM Logo"
src="https://hrcom-public.s3.wasabisys.com/remoteimages/website-images/2023_siteupdate/HR-west-2024/images/sponsor-logos/hr-west-hr-conference-sponsor-akrivia-logo-80x200.jpg" style="max-height: 80px; max-width: 200px"
/></a>

<a class="logo-box" 
href="https://www.hr.com/directory/company/skillful_ly_1" target="_blank"
data-feathr-click-track="true" data-feathr-link-aids='["6127cfab0dc20e810ab012ed"]'
><img 
alt="HRWest HR Conference Sponsor Skillful.ly Logo"
src="https://hrcom-public.s3.wasabisys.com/remoteimages/website-images/2023_siteupdate/HR-west-2024/images/sponsor-logos/hr-west-hr-conference-sponsor-skillful-ly-logo-80x200.jpg" style="max-height: 80px; max-width: 200px"
/></a>

<a class="logo-box" 
href="https://www.hr.com/directory/company/benepass" target="_blank"
data-feathr-click-track="true" data-feathr-link-aids='["6127cfab0dc20e810ab012ed"]'
><img 
alt="HRWest HR Conference Sponsor Benepass Logo"
src="https://hrcom-public.s3.wasabisys.com/remoteimages/website-images/2023_siteupdate/HR-west-2024/images/sponsor-logos/hr-west-hr-conference-sponsor-benepass-logo-80x200.jpg" style="max-height: 80px; max-width: 200px"
/></a>

<a class="logo-box" 
href="https://www.hr.com/directory/company/aptia_group" target="_blank"
data-feathr-click-track="true" data-feathr-link-aids='["6127cfab0dc20e810ab012ed"]'
><img 
alt="HRWest HR Conference Sponsor Aptia Group Logo"
src="https://hrcom-public.s3.wasabisys.com/remoteimages/website-images/2023_siteupdate/HR-west-2024/images/sponsor-logos/hr-west-hr-conference-sponsor-aptia-logo-80x200.jpg" style="max-height: 80px; max-width: 200px"
/></a>

<a class="logo-box" 
href="https://www.hr.com/directory/company/patelco_credit_union_2" target="_blank"
data-feathr-click-track="true" data-feathr-link-aids='["6127cfab0dc20e810ab012ed"]'
><img 
alt="HRWest HR Conference Sponsor Patelco Credit Union Logo"
src="https://hrcom-public.s3.wasabisys.com/remoteimages/website-images/2023_siteupdate/HR-west-2024/images/sponsor-logos/hr-west-hr-conference-sponsor-patelco-logo-80x200.jpg" style="max-height: 80px; max-width: 200px"
/></a>

<a class="logo-box" 
href="https://www.hr.com/directory/company/virgilhr_1" target="_blank"
data-feathr-click-track="true" data-feathr-link-aids='["6127cfab0dc20e810ab012ed"]'
><img 
alt="HRWest HR Conference Sponsor VirgilHR Logo"
src="https://hrcom-public.s3.wasabisys.com/remoteimages/website-images/2023_siteupdate/HR-west-2024/images/sponsor-logos/hr-west-hr-conference-sponsor-virgilhr-logo-80x200.jpg" style="max-height: 80px; max-width: 200px"
/></a>

<a class="logo-box" 
href="https://www.hr.com/directory/company/clarity_benefit_solutions" target="_blank"
data-feathr-click-track="true" data-feathr-link-aids='["6127cfab0dc20e810ab012ed"]'
><img 
alt="HRWest HR Conference Sponsor Clarity Benefit Solutions Logo"
src="https://hrcom-public.s3.wasabisys.com/remoteimages/website-images/2023_siteupdate/HR-west-2024/images/sponsor-logos/hr-west-hr-conference-sponsor-clarity-benefit-solutions-logo-80x200.jpg" style="max-height: 80px; max-width: 200px"
/></a>

<a class="logo-box" 
href="https://www.hr.com/directory/company/rippling_1" target="_blank"
data-feathr-click-track="true" data-feathr-link-aids='["6127cfab0dc20e810ab012ed"]'
><img 
alt="HRWest HR Conference Sponsor Rippling Logo"
src="https://hrcom-public.s3.wasabisys.com/remoteimages/website-images/2023_siteupdate/HR-west-2024/images/sponsor-logos/hr-west-hr-conference-sponsor-rippling-logo-80x200.jpg" style="max-height: 80px; max-width: 200px"
/></a>

<a class="logo-box" 
href="https://www.hr.com/directory/company/ignite_hr_solutions" target="_blank"
data-feathr-click-track="true" data-feathr-link-aids='["6127cfab0dc20e810ab012ed"]'
><img 
alt="HRWest HR Conference Sponsor Ignite HR Solutions Logo"
src="https://hrcom-public.s3.wasabisys.com/remoteimages/website-images/2023_siteupdate/HR-west-2024/images/sponsor-logos/hr-west-hr-conference-sponsor-ignite-hr-solutions-logo-80x200.jpg" style="max-height: 80px; max-width: 200px"
/></a>


<a class="logo-box" 
href="https://www.hr.com/directory/company/decisionwise" target="_blank"
data-feathr-click-track="true" data-feathr-link-aids='["6127cfab0dc20e810ab012ed"]'
><img 
alt="HRWest HR Conference Sponsor Decisionwise Logo"
src="https://hrcom-public.s3.wasabisys.com/remoteimages/website-images/2023_siteupdate/HR-west-2024/images/sponsor-logos/hr-west-hr-conference-sponsor-decisionwise-logo-80x200.jpg" style="max-height: 80px; max-width: 200px"
/></a>

<a class="logo-box" 
href="https://www.hr.com/directory/company/bevi_1" target="_blank"
data-feathr-click-track="true" data-feathr-link-aids='["6127cfab0dc20e810ab012ed"]'
><img 
alt="HRWest HR Conference Sponsor Bevi Logo"
src="https://hrcom-public.s3.wasabisys.com/remoteimages/website-images/2023_siteupdate/HR-west-2024/images/sponsor-logos/hr-west-hr-conference-sponsor-bevi-logo-80x200.jpg" style="max-height: 80px; max-width: 200px"
/></a>

<a class="logo-box" 
href="https://www.hr.com/directory/company/lee_hecht_harrison_knightsbridge_2" target="_blank"
data-feathr-click-track="true" data-feathr-link-aids='["6127cfab0dc20e810ab012ed"]'
><img 
alt="HRWest HR Conference Sponsor LHH Logo"
src="https://hrcom-public.s3.wasabisys.com/remoteimages/website-images/2023_siteupdate/HR-west-2024/images/sponsor-logos/hr-west-hr-conference-sponsor-lhh-logo-80x200.jpg" style="max-height: 80px; max-width: 200px"
/></a>

<a class="logo-box" 
href="https://www.hr.com/directory/company/mypeople_1" target="_blank"
data-feathr-click-track="true" data-feathr-link-aids='["6127cfab0dc20e810ab012ed"]'
><img 
alt="HRWest HR Conference Sponsor MyPeople Logo"
src="https://hrcom-public.s3.wasabisys.com/remoteimages/website-images/2023_siteupdate/HR-west-2024/images/sponsor-logos/hr-west-hr-conference-sponsor-mypeople-logo-80x200.jpg" style="max-height: 80px; max-width: 200px"
/></a>






          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="hr-west_container-fluid etnthelpbg">
  <div class="hr-west_container">
    <div class="help_footer_wrapper">
      <div class="help_footer_info">
        <h4>Need additional help?</h4>
        <h6>Contact the HR.com Events Team!</h6>
        <a
          href="tel:18774726648"
          target="_blank"
          data-feathr-click-track="true"
          data-feathr-link-aids='["6127cfab0dc20e810ab012ed"]'
          >Call: 1-877-472-6648</a
        >
        <a
          href="mailto:hrwest@hr.com"
          target="_blank"
          data-feathr-click-track="true"
          data-feathr-link-aids='["6127cfab0dc20e810ab012ed"]'
          >Email: hrwest@hr.com</a
        >
        <!-- <h6>
          Frequently asked questions<span
            >If you have any questions, kindly refer them to this page.
          </span>
        </h6>-->
      </div>
      <div class="help_footer_info foot-grad">
        <h4>Join HRWest 2025</h4>
        <h6>
          March 11-12, 2025<span>
            <strong>Oakland Marriott City Center</strong><br />
            1001 Broadway, Oakland, CA 94607</span
          >
        </h6>

        <div class="help_btnset">
          <a
            class="hr_custom_btn gradient_btn btn_large round"
            href="/en/webcasts_events/live_events/hr-west-2025-registration_lt8ybqxq.html"
            >Register Now</a
          >
          <div class="reg_info" style="display: none">
            <div class="reg-detail">
              <p>SPECIAL OFFER: Register for</p>
              <h6><span>$199</span> until Jan 14, 2024</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  /*=============== SHOW MENU ===============*/
  const showMenu = (toggleId, naveId) => {
    const toggle = document.getElementById(toggleId),
      nave = document.getElementById(naveId)

    toggle.addEventListener('click', () => {
      // Add show-menu class to nav menu
      nave.classList.toggle('show-menu')

      // Add show-icon to show and hide the menu icon
      toggle.classList.toggle('show-icon')
    })
  }
  showMenu('nave-toggle', 'nave-menu')
</script>

<link
  href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css"
  rel="stylesheet"
/>
<link
  href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
  rel="stylesheet"
/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<script type="text/javascript">
  $(document).ready(function () {
    $('.swocas_slider').owlCarousel({
      loop: true,
      autoplay: false,
      margin: 0,
      navText: [
        '<svg height="14.142" viewBox="0 0 14.142 14.142" width="14.142" xmlns="http://www.w3.org/2000/svg"><path d="M1.363,10A1.363,1.363,0,0,1,0,8.636V1.363a1.363,1.363,0,1,1,2.727,0V7.273H8.636a1.363,1.363,0,0,1,0,2.727Z" fill="#fff" transform="translate(7.071) rotate(45)"></path></svg>',
        '<svg height="14.142" viewBox="0 0 14.142 14.142" width="14.142" xmlns="http://www.w3.org/2000/svg"><path d="M0,8.636V1.363A1.363,1.363,0,0,1,1.363,0H8.636a1.363,1.363,0,0,1,0,2.727H2.727V8.636A1.363,1.363,0,0,1,0,8.636Z" fill="#fff" transform="translate(14.142 7.071) rotate(135)"></path></svg>',
      ],
      navContainer: '.swocas_wrapper .team .cust-nav',
      dots: true,
      items: 3,
      responsive: {
        0: {
          items: 1,
          stagePadding: 0,
          nav: false,
        },
        767: {
          items: 2,
          stagePadding: 0,
          nav: false,
        },
        992: {
          items: 3,
          stagePadding: 0,
          nav: false,
        },
        1000: {
          items: 3,
          stagePadding: 0,
          nav: true,
        },
      },
    })
  })
</script>
<script>
  $(document).ready(function () {
    $('html, body').animate(
      {
        scrollTop: $('#header').offset().top,
      },
      'slow'
    )
  })
  $(document).ready(function () {
    $('#navMenuXS').on('click', function () {
      $('#navMenuList').slideToggle('fast')
    })
    $('#hradbtmwrapper').empty()
  })

  // loop sponsor logos
  const sliderCopy = document.querySelector('.ev_marquee').cloneNode(true)
  document.querySelector('.ev_marquee_wrapper').append(sliderCopy)
</script>

$designAttribute:masterD_no_sidebar